.fl {
  float: left;
}
.fr {
  float: right;
}
.marbot20 {
  margin-bottom: 0.08888889rem;
}
.paddin24 {
  padding: 0 0.10666667rem;
}
.bacColor {
  background: #fff;
}
.blcfd0 {
  border-left: 0.06666667rem solid #ffd000;
}
.blc9d6 {
  border-left: 0.06666667rem solid #9ed969;
}
.content .bors8 .Subactive {
  color: #5eb75d;
  border-color: #5eb75d;
}
.content .bors8 a {
  border-radius: 0.03555556rem;
}
.content .bors36 .Subactive {
  border-color: #5eb75d;
  color: #fff;
  background: #5eb75d;
}
.content .bors36 a {
  border-radius: 0.16rem 0.16rem 0.16rem 0.16rem;
}
.bgcf43 {
  background: #ff4e31;
}
.bgcf82 {
  background: #ff872f;
}
